{% extends 'base.html' %} {% import 'macros.html' as macro%} {%block styles%} {{
    super() }} {%endblock%} {% block content %}
    <div class="container">
      <div>
        <h3 style="font-weight: bold;padding: 5px;border: 5px solid yellowgreen;margin: 0;">{{ pitches.pitch }}</h3>
      </div>
      <br />
    
      <div class="col-md-4">
        <script type="text/javascript">
          var clicks = 0; 
          function clickME() {
            clicks += 1;
            document.getElementById("clicks").innerHTML = clicks; 
          }
        </script>
        <button type="button" onClick="clickME()" class="btn btn-default">
          <a
            class="fa fa-thumbs-up"
            id="clicks"
            href="{{url_for('.upvote',id=pitches.id)}}"
            style="color: black"
          ></a>
        </button>
        <script type="text/javascript">
          var clicks = 0; 
          function hello() {
            clicks += 1;
            document.getElementById("click").innerHTML = clicks; 
          }
        </script>
        <button type="button" onClick="hello()" class="btn btn-default;" style="margin-left: 3em">
          <a class="fa fa-thumbs-down" id="click" href="{{url_for('.downvote',id=pitches.id)}}" style="color: red" ></a>
        </button>
        <div>
          <button type="button" class="btn btn-default" style="margin-top: 2em">
            <a class="btn btn-primary" href="{{url_for('.post_comment',id=pitches.id)}}" >Add comments</a>
          </button>
          <button type="button" class="btn btn-default" style="margin-top: 2em">
            <a class="btn btn-primary" href="{{url_for('.new_pitch',id=pitches.category_id)}}">Post a Pitch</a>
          </button>
        </div>
      </div>
      <br /><br />
    </div>
    <div class="container">
      <h3 style="color: blue">comments</h3>
    
      {% if comment %} {{ macro.displaySpecificPitch(comment)}} {%else%}
      <h3 style="color: blue">No comments found</h3>
      {% endif %}
    </div>
    
    {% endblock %}